<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/9a4d5d0d-c34a-4c7e-904a-28519d698ee4/resourcegroups/azconf-2022/providers/Microsoft.ContainerRegistry/registries/daprcontainerappdemo</ContainerResourceId>
    <ContainerResourceName>daprcontainerappdemo</ContainerResourceName>
    <Subscription>Visual Studio Enterprise-abonnement – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>daprcontainerappdemo.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>dapr-container-demo</ContainerName>
    <EnvironmentName>dapr-demo-managedEnvironment</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://dapr-demo.ashyrock-cc0bb60c.westeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9a4d5d0d-c34a-4c7e-904a-28519d698ee4/resourceGroups/azconf-2022/providers/Microsoft.App/containerapps/dapr-demo</ResourceId>
    <ResourceGroup>azconf-2022</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>